<% if alert %>
  </br>
  <div class="alert alert-warning" role="alert">
    Alert:
    <%= alert %>
  </div>
<% end %>

<% if notice %>
  </br>
  <div class="alert alert-success" role="alert">
    Success:
    <%= notice %>
  </div>
<% end %>
